//Body scss
@import '../bases/variables';

.body-style, .main-style {
    background-color: $color-body
}

.main-style {
    width: nth(
        $width,
        17
     );
    height: nth(
        $height,
        3
    );
    margin: nth(
        $margin,
        5
    );
    padding: nth(
        $padding,
        1
    );
}
