//Botones scss
@import '../bases/variables';

.btn {    
    &:hover {
        @extend %active-hover;
    }
    color: $color-primero;
    margin: 2px;
    font-family: $font;
}

.boton-sumar {
    background-color: $color-segundo

}

.boton-restar{
    background-color: $color-tercero
}

.boton-agregar{
    background-color: $color-cuarto
}
