//Botones scss
@import '../bases/variables';
.boton-count {
    @extend %button-count;
    &:hover {
        @extend %active-hover;
    } 
}

.boton-sumar {
    background-color: $color-segundo

}

.boton-restar{
    background-color: $color-tercero
}

.boton-agregar{
    background-color: $color-cuarto
}
