//Cards scss
@import '../bases/variables';

.body-style, .main-style {
    background-color: rgb(243, 235, 226);
}

.main-style {
    margin: nth(
        $margin,
        5
    );
    width: nth(
        $width,
        17
     );
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: nth(
        $margin,
        5
    );
    width: nth(
        $width,
        17
     );

}

.card {
    width: nth(
        $width,
        15
     );
}