//Cards scss
@import '../bases/variables';

.card {
    margin: nth(
        $margin,
        1
    );
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: nth(
        $margin,
        5
    );
    width: nth(
        $width,
        17
     );

}

.contador-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    justify-content: space-around;
    margin: nth(
        $margin,
        5
    );
    
}

.card {
    width: nth(
        $width,
        15
     );
}