//navBar scss
@import '../bases/variables';
.logo {
    width: nth(
        $width,
        10
    );
}
.nav-bar {
    font-family: $font;
}

.navbar-expand-lg, .navbar-collapse {
    justify-content: flex-end;

}