//Texto scss
@import '../bases/variables';

.card-title, .rojo, .negro, h5 {
    font-family: $font;
}

.rojo, .negro {
    font-size: nth(
        $font-size,
        3
    );
}

.negro {
    color: $color-quinto;
}

.rojo {
    color: red;
}

.sumar-restar {
    display: flex;
    
}
.contador {
    padding: nth(
        $padding,
        2
    );
    margin: nth(
        $margin,
        5
    );
}